<div class="section" id="about">
    <div class="container">
        <div class="col-md-6" data-aos="fade-up">
            <h1 class="size-50 animate__animated animate__backInLeft">Know <br /> About me</h1>
            <div class="h-50"></div>
            @for(about of abouts; track about){
                <p>{{about}}</p>
            }
            <!-- <div class="h-50"></div> <img src="img/Signature.svg" width="230" alt="" /> -->
            <div class="h-50"></div>
        </div>
        <div class="col-md-6 about-img-div">
            <!-- <div class="about-border" data-aos="fade-up" data-aos-delay=".5"></div> -->
            <!-- <img src="img/about-img.jpg" width="400" class="img-responsive" alt="" align="right" data-aos="fade-right" data-aos-delay="0" /> -->
        </div>
    </div>
</div>