<div class="section" id="project" [ngClass]="{'dark-mode-color': darkMode}">
    <div class="container">
      <div class="col-md-12">
        <h1 class="size-50 animate__animated animate__backInRight">My <br /> Projects</h1>
      </div>
      <div class="col-md-12">
        <div class="row">
          <!-- Loop through projects -->
          @for (project of projects; track project.name) {
            <div class="col-md-4 col-sm-6">
              <div class="project-card">
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <p><strong>Duration:</strong> {{ project.startDate }} - {{ project.endDate }}</p>
                <ul class="features-list">
                  @for (feature of project.features; track feature) {
                    <li>{{ feature }}</li>
                  }
                </ul>
                <mat-accordion class="accordion">
                  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="expansion-panel" [ngClass]="{'dark-expansion-panel': darkMode}">
                    <mat-expansion-panel-header>
                      <mat-panel-title>Project Links</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-links">
                      @for (projectUrl of project.projectUrls; track projectUrl) {
                        <h4 class="heading-project-link" [ngClass]="{'dark-heading-project-link': darkMode}" >{{ projectUrl.title }}</h4>
                        <a [href]="projectUrl.githubUrl" target="_blank">GitHub <i [class]="projectUrl.gitIconUrl"></i></a>
                        <a [href]="projectUrl.hostingUrl" target="_blank">Live Demo <i [class]="projectUrl.demoIcon"></i></a>
                      }
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
              </div>
            </div>
          } @empty {
            <p>No projects available.</p>
          }
        </div>
      </div>
    </div>
  </div>
  