<div class="app-container" [ngClass]="{'dark-mode-color': isDarkMode}">
    <app-header #header_component></app-header>
    <app-main></app-main>
    <app-about></app-about>
    <app-experience [darkMode]="isDarkMode"></app-experience>
    <app-skill [darkMode]="isDarkMode"></app-skill>
    <app-certification [darkMode]="isDarkMode"></app-certification>
    <!-- <app-packages [darkMode]="isDarkMode"></app-packages> -->
    <app-articles [darkMode]="isDarkMode"></app-articles>
    <app-project [darkMode]="isDarkMode"></app-project>
    <app-contact [darkMode]="isDarkMode"></app-contact>
    <app-footer [darkMode]="isDarkMode"></app-footer>
</div>