<!-- Main -->
<div class="section" id="home" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="display-flex">
            <div class="content" data-aos="fade-up" data-aos-delay="0">
                <h4 class="animate__animated animate__bounce">Jobi S S</h4>
                <h1 [innerHTML]="displayedText"></h1>
            </div>
            <div class="image-container">
                <img src="img/logo2.png" alt="Jobi S S" fetchpriority="high" decoding="async" loading="eager">
            </div>
        </div>
    </div>
</div>